@import "../costum";

.faq-container {
    width: 100%;
    margin: auto;
    text-align: center;

    &-text {
        width: auto;
    }

    &-img {
        padding: 0;
        width: auto;

        .faq-img {
            height: 5rem;

        }
    }


}