.faq-container {
    width: 20%;
    margin: auto;

    .faq-img-container{
       padding: 0;
       width: max-content;
    }

    .faq-img {
        height: 5rem;
        width: auto;
        // position: absolute;
        
    }
}