@import "../costum";

.faq-container {
    width: 100%;
    margin: 0 !important;
    text-align: center;
   
    

    &-title {
        width: min-content !important;
        padding: 0 !important;

        .faq-title{
            font-size: 4rem !important;
        }
    }

    &-img {
        padding: 0;
        width: min-content !important;
        padding:0 !important;

        .faq-img {
            height: 5rem;

        }
    }


}