
@import "../components/mixins";


.intros-greeting {
    font-weight: 600;
}


.intros-img {
    position: relative;
  }
  
  .image-container {
    position: relative;
  }
  
  .animation-container {
    position: absolute;
    top: 34%;
    right: 68%;
    transform: translate(0, -50%);
  }
.animation {
    position: absolute;
    top: 50%;
    right: 10%;
    transform: translate(0, -50%);
    width: 3.5rem;
    border: 1px solid $white;
    border-radius: 50%;
    animation: sound 2s infinite;

    &-first {
        animation-delay: 0.5s;
        rotate: 20deg;
        opacity: 0.6;
    }

    &-sec {
        margin-top: 1rem;
        animation-delay: 0.8s;
        rotate: 10deg;
        opacity: 0.7;
    }

    &-thrid {
        margin-top: 2rem;
        animation-delay: 1s;
        rotate: -2deg;
        opacity: 0.8;
    }

    &-fourth {
        margin-top: 2.7rem;
        animation-delay: 1.2s;
        rotate: -13deg;
        opacity: 0.9;
    }

    &-fifth {
        margin-top: 3.5rem;
        animation-delay: 1.4s;
        rotate: -22deg;
        opacity: 1;
    }

    &-sixth {
        margin-top: 4.3rem;
        animation-delay: 1.6s;
        rotate: -30deg;
        opacity: 0.9;
    }
}


@media (max-width: 1199px) {
    .animation-container {
      right: 84%;
    }
  }

  @media (min-width: 1200px) and (max-width: 1399px){
    .animation-container {
        right: 79%;
      }
  }