@import "./costum";
@import "~bootstrap/scss/bootstrap";


@import "../../node_modules/@fortawesome/fontawesome/styles.css";



// Components
@import "./components/animations";
@import "./components/buttons";
@import "./components/mixins";
@import "./components/typography";

// Sections
@import "./sections/navbar";
@import "./sections/intro-section";
@import "./sections/services";
@import "./sections/faq";
@import "./sections/get-started";


*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

