@import "./costum";
@import "~bootstrap/scss/bootstrap";


// Components
@import "./components/animations";
@import "./components/buttons";
@import "./components/mixins";
@import "./components/typography";

// Sections
@import "./sections/navbar";
@import "./sections/intro-section";
@import "./sections/companies";
@import "./sections/services";
@import "./sections/faq";
@import "./sections/portfolio";
@import "./sections/get-started";
@import "./sections/footer";


*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

